.places__paragraph {
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0 0 26px;
}

.places__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 778px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 650px) {
  .places__paragraph {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .places__paragraph {
    max-width: 288px;
    font-size: 16px;
    margin: 0 auto 25px;
  }
}
