.places__title {
  grid-area: title;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
}

@media screen and (max-width: 778px) {
  .places__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 610px) {
  .places__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin-left: 16px;
  }
}
