.places__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration-line: underline;
}

@media screen and (max-width: 650px) {
    .places__link {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    .places__link {
        font-size: 18px;
    }
}