.cover__subtitle {
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    margin: 0;
}


@media screen and (max-width: 650px) {
    .cover__subtitle {
        width: 320px;
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}