.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 60px;
    line-height: 110%;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
  }
}
