.menu__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    margin: 0;
    color: white;
}

@media screen and (max-width: 460px) {
    .menu__link {
        font-size: 24px;
        line-height: 100%;
    }
}
