.lead__image {
    position: relative;
    width: 100%;
    height: 48.05vw;
    background-image: url(../../../images/lead__image@1280px.png);
    background-size: cover;
    margin: 0 auto 8px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        height: 56.64vw;
        background-image: url(../../../images/lead__image@1024px.jpg);
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        height: 62.5vw;
        background-image: url(../../../images/lead__image@768px.png);
    }
}

@media screen and (max-width: 550px) {
    .lead__image {
        background-image: url(../../../images/lead__image@320px.png);
    }
}