.places__place {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "title website"
    "image paragraph";
  gap: 48px 40px;
  box-sizing: border-box;
  margin: 0 0 80px;
}

.places__place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 610px) {
  .places__place {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 320px) {
  .places__place {
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
}
