.footer {
    width: 92.5%;
    max-width: 1185px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.6%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 93.75%;
    }
}