.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: website;
}

@media screen and (max-width: 570px) {
  .places__website {
    width: 100%;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .places__website {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}
